# PyCharm
.idea/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*py[cod]
*$py.class

# Ambiente
.venv/
.env/
venv/

# Config local do SQL
.my.cnf
mysql_credentials.json

# Credenciai do MySQL
.env
secrets.py

# Backups
*.bak

# Bancos locais
*.db
*.sqlite
*.sqlite3

# Sistema operacional e logs
*.log
Thumbs.db
desktop.ini
.DS_Store